.container-fluid
  %h1
    Курс доллара за
    = @last_usd.created_at.in_time_zone("Moscow").strftime("%H:%M %d.%m.%Y")
  .row
    .col-md-3
      .avg_usd_sell
        %p
          Продажа:
          = @last_usd.sell
          - case
            - when @last_usd.sell > @previus_usd.sell
              %span{class: "glyphicon glyphicon-arrow-up"}
            - when @last_usd.sell == @previus_usd.sell
              %span{class: "glyphicon glyphicon-sort"}
            - when @last_usd.sell < @previus_usd.sell
              %span{class: "glyphicon glyphicon-arrow-down"}

      .avg_usd_buy
        %p
          Покупка:
          = @last_usd.buy
          - case
            - when @last_usd.buy > @previus_usd.buy
              %span{class: "glyphicon glyphicon-arrow-up"}
            - when @last_usd.buy == @previus_usd.buy
              %span{class: "glyphicon glyphicon glyphicon-sort"}
            - when @last_usd.buy < @previus_usd.buy
              %span{class: "glyphicon glyphicon-arrow-down"}
  .row
    = link_to "Перейти на admin...", admin_path