.container
  .row
    %h1
      Введите форсированный курс
    .col-md-2
      = form_for @rate, url: admin_path(@rate), method: :post do |f|
        .row
          = render 'shared/error_messages', object: f.object
        .row
          = f.label :buy, 'Покупка'
          = f.number_field :buy, class: "form-control rate_buy", required: true, step:"0.01"
        .row
          = f.label :sell, 'Продажа'
          = f.number_field :sell, class: "form-control rate_sell", required: true, step:"0.01"
        .row
          = f.label :forced, 'Дата и время'
          #datetimepicker2.input-group.date
            = f.text_field :forced, class: "form-control rate_forced", required: true, placeholder: @rate.forced.to_s, value: @rate.forced.to_s
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar
        = f.hidden_field :name, value: "USD", class: "rate_name"
        .row
          = f.submit

      .row
        = link_to "Перейти на главную...", root_path